<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gpa</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AutoCalculate</display-name>
    <servlet-name>AutoCalculate</servlet-name>
    <servlet-class>net.sqroc.servlet.AutoCalculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCalculate</servlet-name>
    <url-pattern>/AutoCalculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculate</display-name>
    <servlet-name>Calculate</servlet-name>
    <servlet-class>net.sqroc.servlet.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculate</servlet-name>
    <url-pattern>/Calculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalServlet</display-name>
    <servlet-name>CalServlet</servlet-name>
    <servlet-class>net.sqroc.servlet.CalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalServlet</servlet-name>
    <url-pattern>/CalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportExcel</display-name>
    <servlet-name>ExportExcel</servlet-name>
    <servlet-class>net.sqroc.servlet.ExportExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcel</servlet-name>
    <url-pattern>/ExportExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetData</display-name>
    <servlet-name>GetData</servlet-name>
    <servlet-class>net.sqroc.servlet.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
</web-app>